<nav>
    <div class="nav-start">
        <a href="/"><img href="#" src="../img/logo.png"></a>
    </div>
    <div class="nav-end">
        <h6>Welcome {USERNAME}</h6>
        <a type="button" href="#" class="login-btn">Login/Registreer</a>
    </div>
</nav>