@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
    background-color: #DAEDF3;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #002D42;
    box-shadow: #19A5BE 0 6px 0px;
    color: #fff;
    flex-wrap: wrap;
    margin-bottom: 6px;
}

nav img{
    width: 15rem;
    margin: 2.5%;
}
nav *{
    margin-right: 2%;
}

gamelist{
    display: block;
    height: 10vw;
    box-shadow: black 0 0 0 0;
    color: #fff;
    width: 100%;
}

gamelist > a > img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.nav-start{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.nav-end{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    flex-grow: 2;
}

.login-btn{
    padding: 12px 20px;
    background-color: #FE404C;
    border: solid #DAEDF3;
    color: #DAEDF3;
    text-decoration: none;
}
.login-btn:hover{
    padding: 12px 20px;
    background-color: red;
    border: solid #DAEDF3;
    color: #DAEDF3;
    text-decoration: none;
}

.left{
    width: 25%;
}

.center{
    width: 50%;
}

.right{
    width: 25%;
}

.container-wrapper{
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 600px){
    .side{
        display:block;
        width: 12vw;
    }

    .gameframe-wrapper{
        margin: auto;
        background-color: #002D42;
        color: #fff;
        text-align: center;
    }
}

@media only screen and (max-width: 600px)
{
    .side{
        width: auto;
    }

    .gameframe-wrapper{
        margin: 0;
    }
}

#gameframe{
    display: flex;
    vertical-align: middle;
    justify-content: center;
}