<!DOCTYPE html>
<html>
<% include ./parts/head %>
<body>
    <% include ./parts/nav %>
    <div class="container-wrapper">
        <div class="left">
            <% include ./parts/adsense %>
        </div>
        
        <div class="center">
            <% include ./parts/content %>
        </div>

        <div class="right">
            <% include ./parts/adsense %>
        </div>
    </div>
</body>
</html>
